<div class="insert_audio">
  <div class="insert_audio_form">
    <div id="audios_list_title"><%= t '.audios_list_title' %></div>
    <div class="search_form">
      <%= form_tag(refinery.insert_audios_admin_audios_path, :method => 'get') do |search_form| %>
          <%= text_field :search, nil, :id => 'search', :type => 'search', :name => 'search', :value => params[:search], :title => t('search_input_notice', :scope => 'refinery.admin.search') %>
          <%= hidden_field :dialog, nil, :name => 'dialog', :id => nil, :value => true if from_dialog? %>
          <%= submit_tag t('button_text', :scope => 'refinery.admin.search'), :name => nil %>
      <% end %>
    </div>
    <div>
      <%= render 'insert_list_audios' %>
    </div>



  </div>
  <div class="insert_audio_preview">
    <div id="preview_title"><%= t '.preview_title' %></div>
    <div id="show_audio" class="show_audio">
      <%= render 'audio_not_found' %>
    </div>

    <div class="insert_params">
      <!--<div id="params_title"><%#= t '.params_title' %></div>-->
      <%= form_tag(refinery.audio_to_html_audios_admin_audios_path, :remote => true, :id => 'insert_params_form', :as=> 'audio') do |insert_params_form| %>
          <%= hidden_field_tag :tab_name, 'append_to_wym' %>
          <%= hidden_field_tag :audio_id %>

          <div class='field' style="display: none">
            <%= label_tag :width, t('label_width', scope: 'refinery.audios.admin.audios.audio_to_html') %>
            <%= text_field_tag :width, @default_width, :placeholder => t('default_width', scope: 'refinery.audios.admin.audios.audio_to_html') %>
          </div>

          <%= render '/refinery/admin/form_actions', :f => insert_params_form,
                     :hide_cancel => false,
                     :cancel_title => t('.cancel_dialog'),
                     :cancel_url => '#',
                     :submit_button_text => t('.append_to_wym') %>

      <% end %>
    </div>
  </div>
</div>


<script>
    $(document).ready(function(){
        $('#search').focus();
    }) ;

    $('#insert_params_form').bind('submit', function(){
        if(this.audio_id.value){
            return true;
        } else {
            alert('<%= t 'audio_not_selected', scope: 'refinery.audios.admin.audios.audio_to_html' %>');
            $('.save-loader').hide();
            return false;
        }

    })
</script>